In [4]:
import pandas as pd 
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
conda install --channel conda-forge geopandas

Collecting package metadata (current_repodata.json): done
Solving environment: -
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/noarch::babel==2.9.1=pyhd3eb1b0_0
  - defaults/osx-64::tqdm==4.64.0=py39hecd8cb5_0
  - defaults/noarch::conda-pack==0.6.0=pyhd3eb1b0_0
  - defaults/noarch::tifffile==2021.7.2=pyhd3eb1b0_2
  - defaults/noarch::python-slugify==5.0.2=pyhd3eb1b0_0
  - defaults/noarch::arrow==1.2.2=pyhd3eb1b0_0
  - defaults/osx-64::mpmath==1.2.1=py39hecd8cb5_0
  - defaults/noarch::ptyprocess==0.7.0=pyhd3eb1b0_2
  - defaults/noarch::holoviews==1.14.8=pyhd3eb1b0_0
  - defaults/osx-64::tabulate==0.8.9=py39hecd8cb5_0
  - defaults/osx-64::anaconda-navigator==2.2.0=py39hecd8cb5_0
  - defaults/noarch::s3transfer==0.5.0=pyhd3eb1b0_0
  - defaults/noarch::jupyterlab_widgets==1.0.0=pyhd3eb1b0_1
  - defaults/noarch::yapf==0.31.0=pyhd3eb1b0_0
  - defaults/noarch::pkginfo==1.8.2=pyhd3eb1b0_0
  - defaults/noarch::poyo==0.5.0=pyhd3eb1b0_0
  - defaults/osx-64::mkl-service==2.4.0=py39h9ed2024_0
  - defaults/noarch::constantly==15.1.0=pyh2b92418_0
  - defaults/osx-64::jedi==0.18.1=py39hecd8cb5_1
  - defaults/noarch::pycodestyle==2.7.0=pyhd3eb1b0_0
  - defaults/osx-64::pysocks==1.7.1=py39hecd8cb5_0
  - defaults/osx-64::bottleneck==1.3.4=py39h67323c0_0
  - defaults/noarch::qdarkstyle==3.0.2=pyhd3eb1b0_0
  - defaults/osx-64::typed-ast==1.4.3=py39h9ed2024_1
  - defaults/osx-64::notebook==6.4.8=py39hecd8cb5_0
  - defaults/noarch::requests-file==1.5.1=pyhd3eb1b0_0
  - defaults/noarch::cachetools==4.2.2=pyhd3eb1b0_0
  - defaults/noarch::alabaster==0.7.12=pyhd3eb1b0_0
  - defaults/osx-64::webencodings==0.5.1=py39hecd8cb5_1
  - defaults/noarch::imageio==2.9.0=pyhd3eb1b0_0
  - defaults/noarch::smart_open==5.1.0=pyhd3eb1b0_0
  - defaults/osx-64::click==8.0.4=py39hecd8cb5_0
  - defaults/noarch::idna==3.3=pyhd3eb1b0_0
  - defaults/osx-64::bitarray==2.4.1=py39hca72f7f_0
  - defaults/noarch::py==1.11.0=pyhd3eb1b0_0
  - defaults/osx-64::mistune==0.8.4=py39h9ed2024_1000
  - defaults/osx-64::astroid==2.6.6=py39hecd8cb5_0
  - defaults/noarch::boto3==1.21.32=pyhd3eb1b0_0
  - defaults/osx-64::pillow==9.0.1=py39hde71d04_0
  - defaults/noarch::charset-normalizer==2.0.4=pyhd3eb1b0_0
  - defaults/noarch::threadpoolctl==2.2.0=pyh0d69192_0
  - defaults/osx-64::kiwisolver==1.3.2=py39he9d5cce_0
  - defaults/noarch::sortedcontainers==2.4.0=pyhd3eb1b0_0
  - defaults/noarch::nbclassic==0.3.5=pyhd3eb1b0_0
  - defaults/osx-64::jupyter==1.0.0=py39hecd8cb5_7
  - defaults/noarch::asttokens==2.0.5=pyhd3eb1b0_0
  - defaults/noarch::cookiecutter==1.7.3=pyhd3eb1b0_0
  - defaults/osx-64::brotlipy==0.7.0=py39h9ed2024_1003
  - defaults/osx-64::scikit-image==0.19.2=py39hae1ba45_0
  - defaults/noarch::python-lsp-black==1.0.0=pyhd3eb1b0_0
  - defaults/noarch::munkres==1.1.4=py_0
  - defaults/noarch::itemloaders==1.0.4=pyhd3eb1b0_1
  - defaults/osx-64::lazy-object-proxy==1.6.0=py39h9ed2024_0
  - defaults/noarch::isort==5.9.3=pyhd3eb1b0_0
  - defaults/noarch::itsdangerous==2.0.1=pyhd3eb1b0_0
  - defaults/noarch::pyasn1==0.4.8=pyhd3eb1b0_0
  - defaults/osx-64::xlwings==0.24.9=py39hecd8cb5_0
  - defaults/noarch::plotly==5.6.0=pyhd3eb1b0_0
  - defaults/noarch::argon2-cffi==21.3.0=pyhd3eb1b0_0
  - defaults/noarch::dask==2022.2.1=pyhd3eb1b0_0
  - defaults/noarch::google-cloud-core==1.7.1=pyhd3eb1b0_0
  - defaults/osx-64::regex==2022.3.15=py39hca72f7f_0
  - defaults/osx-64::jupyter_core==4.9.2=py39hecd8cb5_0
  - defaults/osx-64::queuelib==1.5.0=py39hecd8cb5_0
  - defaults/osx-64::msgpack-python==1.0.2=py39hf7b0b51_1
  - defaults/osx-64::aiohttp==3.8.1=py39hca72f7f_1
  - defaults/osx-64::datashape==0.5.4=py39hecd8cb5_1
  - defaults/noarch::importlib_metadata==4.11.3=hd3eb1b0_0
  - defaults/noarch::defusedxml==0.7.1=pyhd3eb1b0_0
  - defaults/osx-64::mkl_random==1.2.2=py39hb2f4e1b_0
  - defaults/osx-64::pyyaml==6.0=py39hca72f7f_1
  - defaults/osx-64::jsonschema==4.4.0=py39hecd8cb5_0
  - defaults/noarch::atomicwrites==1.4.0=py_0
  - defaults/noarch::aiosignal==1.2.0=pyhd3eb1b0_0
  - defaults/osx-64::certifi==2021.10.8=py39hecd8cb5_2
  - defaults/osx-64::matplotlib==3.5.1=py39hecd8cb5_1
  - defaults/osx-64::anaconda==2022.05=py39_0
  - defaults/osx-64::multipledispatch==0.6.0=py39hecd8cb5_0
  - defaults/noarch::datashader==0.13.0=pyhd3eb1b0_1
  - defaults/noarch::sphinxcontrib-htmlhelp==2.0.0=pyhd3eb1b0_0
  - defaults/noarch::conda-repo-cli==1.0.4=pyhd3eb1b0_0
  - defaults/noarch::backports.functools_lru_cache==1.6.4=pyhd3eb1b0_0
  - defaults/noarch::rope==0.22.0=pyhd3eb1b0_0
  - defaults/osx-64::wrapt==1.12.1=py39h9ed2024_1
  - defaults/noarch::python-fastjsonschema==2.15.1=pyhd3eb1b0_0
  - defaults/osx-64::python.app==3=py39hca72f7f_0
  - defaults/osx-64::sympy==1.10.1=py39hecd8cb5_0
  - defaults/noarch::jupyter_server==1.13.5=pyhd3eb1b0_0
  - defaults/noarch::jdcal==1.4.1=pyhd3eb1b0_0
  - defaults/osx-64::imagecodecs==2021.8.26=py39ha952a84_0
  - defaults/noarch::networkx==2.7.1=pyhd3eb1b0_0
  - defaults/noarch::pycparser==2.21=pyhd3eb1b0_0
  - defaults/noarch::parso==0.8.3=pyhd3eb1b0_0
  - defaults/noarch::google-resumable-media==1.3.1=pyhd3eb1b0_1
  - defaults/osx-64::daal4py==2021.5.0=py39h24a4e90_0
  - defaults/noarch::binaryornot==0.4.4=pyhd3eb1b0_1
  - defaults/osx-64::bkcharts==0.2=py39hecd8cb5_0
  - defaults/osx-64::importlib-metadata==4.11.3=py39hecd8cb5_0
  - defaults/noarch::rsa==4.7.2=pyhd3eb1b0_1
  - defaults/noarch::traitlets==5.1.1=pyhd3eb1b0_0
  - defaults/noarch::openpyxl==3.0.9=pyhd3eb1b0_0
  - defaults/noarch::pyls-spyder==0.4.0=pyhd3eb1b0_0
  - defaults/osx-64::wurlitzer==3.0.2=py39hecd8cb5_0
  - defaults/osx-64::astropy==5.0.4=py39h67323c0_0
  - defaults/osx-64::appscript==1.1.2=py39h9ed2024_0
  - defaults/osx-64::conda-build==3.21.8=py39hecd8cb5_2
  - defaults/noarch::partd==1.2.0=pyhd3eb1b0_1
  - defaults/noarch::jupyter_client==6.1.12=pyhd3eb1b0_0
  - defaults/noarch::json5==0.9.6=pyhd3eb1b0_0
  - defaults/noarch::async-timeout==4.0.1=pyhd3eb1b0_0
  - defaults/osx-64::pywavelets==1.3.0=py39hca72f7f_0
  - defaults/noarch::dask-core==2022.2.1=pyhd3eb1b0_0
  - defaults/noarch::six==1.16.0=pyhd3eb1b0_1
  - defaults/noarch::pytz==2021.3=pyhd3eb1b0_0
  - defaults/osx-64::pyjwt==2.1.0=py39hecd8cb5_0
  - defaults/noarch::pyhamcrest==2.0.2=pyhd3eb1b0_2
  - defaults/osx-64::llvmlite==0.38.0=py39h8346a28_0
  - defaults/noarch::jmespath==0.10.0=pyhd3eb1b0_0
  - defaults/osx-64::urllib3==1.26.9=py39hecd8cb5_0
  - defaults/noarch::backports.tempfile==1.0=pyhd3eb1b0_1
  - defaults/osx-64::nbclient==0.5.13=py39hecd8cb5_0
  - defaults/osx-64::numexpr==2.8.1=py39h2e5f0a9_0
  - defaults/noarch::decorator==5.1.1=pyhd3eb1b0_0
  - defaults/noarch::typing_extensions==4.1.1=pyh06a4308_0
  - defaults/noarch::executing==0.8.3=pyhd3eb1b0_0
  - defaults/noarch::sphinxcontrib-jsmath==1.0.1=pyhd3eb1b0_0
  - defaults/noarch::jinja2==2.11.3=pyhd3eb1b0_0
  - defaults/noarch::conda-content-trust==0.1.1=pyhd3eb1b0_0
  - defaults/osx-64::cffi==1.15.0=py39hc55c11b_1
  - defaults/osx-64::scipy==1.7.3=py39h8c7af03_0
  - defaults/noarch::qtpy==2.0.1=pyhd3eb1b0_0
  - defaults/osx-64::inflection==0.5.1=py39hecd8cb5_0
  - defaults/osx-64::parsel==1.6.0=py39hecd8cb5_0
  - defaults/noarch::snowballstemmer==2.2.0=pyhd3eb1b0_0
  - defaults/noarch::nltk==3.7=pyhd3eb1b0_0
  - defaults/noarch::pexpect==4.8.0=pyhd3eb1b0_3
  - defaults/osx-64::conda-package-handling==1.8.1=py39hca72f7f_0
  - defaults/noarch::fonttools==4.25.0=pyhd3eb1b0_0
  - defaults/osx-64::py-lief==0.11.5=py39he9d5cce_1
  - defaults/noarch::pathspec==0.7.0=py_0
  - defaults/noarch::pyviz_comms==2.0.2=pyhd3eb1b0_0
  - defaults/osx-64::websocket-client==0.58.0=py39hecd8cb5_4
  - defaults/noarch::sphinx==4.4.0=pyhd3eb1b0_0
  - defaults/noarch::dataclasses==0.8=pyh6d0b6a4_7
  - defaults/osx-64::ipython==8.2.0=py39hecd8cb5_0
  - defaults/osx-64::bcrypt==3.2.0=py39h9ed2024_0
  - defaults/osx-64::sqlalchemy==1.4.32=py39hca72f7f_0
  - defaults/osx-64::pytest==7.1.1=py39hecd8cb5_0
  - defaults/osx-64::greenlet==1.1.1=py39h23ab428_0
  - defaults/noarch::incremental==21.3.0=pyhd3eb1b0_0
  - defaults/noarch::numpydoc==1.2=pyhd3eb1b0_0
  - defaults/osx-64::multidict==5.2.0=py39hca72f7f_2
  - defaults/osx-64::pyzmq==22.3.0=py39he9d5cce_2
  - defaults/osx-64::patsy==0.5.2=py39hecd8cb5_1
  - defaults/noarch::text-unidecode==1.3=pyhd3eb1b0_0
  - defaults/noarch::xlsxwriter==3.0.3=pyhd3eb1b0_0
  - defaults/osx-64::scrapy==2.6.1=py39hecd8cb5_0
  - defaults/noarch::pyflakes==2.3.1=pyhd3eb1b0_0
  - defaults/noarch::tblib==1.7.0=pyhd3eb1b0_0
  - defaults/noarch::param==1.12.0=pyhd3eb1b0_0
  - defaults/noarch::python-dateutil==2.8.2=pyhd3eb1b0_0
  - defaults/osx-64::pandas==1.4.2=py39he9d5cce_0
  - defaults/osx-64::pyct==0.4.6=py39hecd8cb5_0
  - defaults/noarch::google-auth==1.33.0=pyhd3eb1b0_0
  - defaults/noarch::filelock==3.6.0=pyhd3eb1b0_0
  - defaults/noarch::diff-match-patch==20200713=pyhd3eb1b0_0
  - defaults/osx-64::pip==21.2.4=py39hecd8cb5_0
  - defaults/osx-64::grpcio==1.42.0=py39ha29bfda_0
  - defaults/noarch::anaconda-project==0.10.2=pyhd3eb1b0_0
  - defaults/noarch::sphinxcontrib-applehelp==1.0.2=pyhd3eb1b0_0
  - defaults/osx-64::spyder-kernels==2.1.3=py39hecd8cb5_0
  - defaults/osx-64::protobuf==3.19.1=py39he9d5cce_0
  - defaults/noarch::qtconsole==5.3.0=pyhd3eb1b0_0
  - defaults/noarch::wcwidth==0.2.5=pyhd3eb1b0_0
  - defaults/osx-64::googleapis-common-protos==1.53.0=py39hecd8cb5_0
  - defaults/noarch::unidecode==1.2.0=pyhd3eb1b0_0
  - defaults/osx-64::debugpy==1.5.1=py39he9d5cce_0
  - defaults/osx-64::_ipyw_jlab_nb_ext_conf==0.1.0=py39hecd8cb5_1
  - defaults/osx-64::argon2-cffi-bindings==21.2.0=py39hca72f7f_0
  - defaults/noarch::prompt_toolkit==3.0.20=hd3eb1b0_0
  - defaults/noarch::xlrd==2.0.1=pyhd3eb1b0_0
  - defaults/noarch::conda-verify==3.4.2=py_1
  - defaults/noarch::itemadapter==0.3.0=pyhd3eb1b0_0
  - defaults/noarch::pyasn1-modules==0.2.8=py_0
  - defaults/osx-64::pyodbc==4.0.32=py39he9d5cce_1
  - defaults/noarch::send2trash==1.8.0=pyhd3eb1b0_1
  - defaults/noarch::nose==1.3.7=pyhd3eb1b0_1008
  - defaults/osx-64::statsmodels==0.13.2=py39hca72f7f_0
  - defaults/noarch::flake8==3.9.2=pyhd3eb1b0_0
  - defaults/osx-64::rtree==0.9.7=py39hecd8cb5_1
  - defaults/osx-64::cython==0.29.28=py39he9d5cce_0
  - defaults/osx-64::beautifulsoup4==4.11.1=py39hecd8cb5_0
  - defaults/noarch::protego==0.1.16=py_0
  - defaults/noarch::iniconfig==1.1.1=pyhd3eb1b0_0
  - defaults/noarch::cycler==0.11.0=pyhd3eb1b0_0
  - defaults/osx-64::ujson==5.1.0=py39he9d5cce_0
  - defaults/noarch::mock==4.0.3=pyhd3eb1b0_0
  - defaults/osx-64::tenacity==8.0.1=py39hecd8cb5_0
  - defaults/osx-64::numpy==1.21.5=py39h2e5f0a9_1
  - defaults/osx-64::yarl==1.6.3=py39h9ed2024_0
  - defaults/noarch::jupyterlab_pygments==0.1.2=py_0
  - defaults/noarch::testpath==0.5.0=pyhd3eb1b0_0
  - defaults/noarch::jinja2-time==0.2.0=pyhd3eb1b0_3
  - defaults/noarch::textdistance==4.2.1=pyhd3eb1b0_0
  - defaults/noarch::ipython_genutils==0.2.0=pyhd3eb1b0_1
  - defaults/osx-64::psutil==5.8.0=py39h9ed2024_1
  - defaults/noarch::toml==0.10.2=pyhd3eb1b0_0
  - defaults/noarch::w3lib==1.21.0=pyhd3eb1b0_0
  - defaults/noarch::jupyterlab_server==2.10.3=pyhd3eb1b0_1
  - defaults/osx-64::nbconvert==6.4.4=py39hecd8cb5_0
  - defaults/osx-64::ipykernel==6.9.1=py39hecd8cb5_0
  - defaults/noarch::botocore==1.24.32=pyhd3eb1b0_0
  - defaults/osx-64::numpy-base==1.21.5=py39h3b1a694_1
  - defaults/osx-64::gensim==4.1.2=py39he9d5cce_0
  - defaults/noarch::cssselect==1.1.0=pyhd3eb1b0_0
  - defaults/noarch::sphinxcontrib-qthelp==1.0.3=pyhd3eb1b0_0
  - defaults/noarch::cloudpickle==2.0.0=pyhd3eb1b0_0
  - defaults/noarch::jupyter_console==6.4.0=pyhd3eb1b0_0
  - defaults/osx-64::matplotlib-base==3.5.1=py39hfb0c5b7_1
  - defaults/noarch::three-merge==0.1.1=pyhd3eb1b0_0
  - defaults/osx-64::conda==4.14.0=py39hecd8cb5_0
  - defaults/noarch::autopep8==1.6.0=pyhd3eb1b0_0
  - defaults/noarch::python-lsp-jsonrpc==1.0.0=pyhd3eb1b0_0
  - defaults/noarch::attrs==21.4.0=pyhd3eb1b0_0
  - defaults/noarch::backcall==0.2.0=pyhd3eb1b0_0
  - defaults/noarch::matplotlib-inline==0.1.2=pyhd3eb1b0_2
  - defaults/noarch::bleach==4.1.0=pyhd3eb1b0_0
  - defaults/osx-64::zope.interface==5.4.0=py39h9ed2024_0
  - defaults/noarch::qstylizer==0.1.10=pyhd3eb1b0_0
  - defaults/osx-64::pyqt==5.9.2=py39h23ab428_6
  - defaults/osx-64::numba==0.55.1=py39hae1ba45_0
  - defaults/osx-64::frozenlist==1.2.0=py39hca72f7f_0
  - defaults/osx-64::anaconda-client==1.9.0=py39hecd8cb5_0
  - defaults/noarch::requests==2.27.1=pyhd3eb1b0_0
  - defaults/noarch::pydocstyle==6.1.1=pyhd3eb1b0_0
  - defaults/noarch::glob2==0.7=pyhd3eb1b0_0
  - defaults/osx-64::pytables==3.6.1=py39h648f197_1
  - defaults/noarch::flask==1.1.2=pyhd3eb1b0_0
  - defaults/noarch::intake==0.6.5=pyhd3eb1b0_0
  - defaults/noarch::black==19.10b0=py_0
  - defaults/noarch::google-api-core==1.25.1=pyhd3eb1b0_0
  - defaults/osx-64::tbb4py==2021.5.0=py39haf03e11_0
  - defaults/noarch::hyperlink==21.0.0=pyhd3eb1b0_0
  - defaults/osx-64::keyring==23.4.0=py39hecd8cb5_0
  - defaults/noarch::prompt-toolkit==3.0.20=pyhd3eb1b0_0
  - defaults/osx-64::markupsafe==2.0.1=py39h9ed2024_0
  - defaults/osx-64::python==3.9.12=hdfd78df_0
  - defaults/noarch::google-cloud-storage==1.31.0=py_0
  - defaults/noarch::pyopenssl==21.0.0=pyhd3eb1b0_1
  - defaults/noarch::pure_eval==0.2.2=pyhd3eb1b0_0
  - defaults/noarch::qtawesome==1.0.3=pyhd3eb1b0_0
  - defaults/osx-64::pyerfa==2.0.0=py39h9ed2024_0
  - defaults/noarch::heapdict==1.0.1=pyhd3eb1b0_0
  - defaults/noarch::appdirs==1.4.4=pyhd3eb1b0_0
  - defaults/noarch::tinycss==0.4=pyhd3eb1b0_1002
  - defaults/osx-64::locket==0.2.1=py39hecd8cb5_2
  - defaults/osx-64::pylint==2.9.6=py39hecd8cb5_1
  - defaults/osx-64::google-crc32c==1.1.2=py39h9ed2024_0
  - defaults/noarch::sphinxcontrib-serializinghtml==1.1.5=pyhd3eb1b0_0
  - defaults/osx-64::bokeh==2.4.2=py39hecd8cb5_0
  - defaults/osx-64::spyder==5.1.5=py39hecd8cb5_1
  - defaults/noarch::hvplot==0.7.3=pyhd3eb1b0_1
  - defaults/osx-64::mypy_extensions==0.4.3=py39hecd8cb5_1
  - defaults/noarch::typing-extensions==4.1.1=hd3eb1b0_0
  - defaults/osx-64::pydispatcher==2.0.5=py39hecd8cb5_2
  - defaults/noarch::tomli==1.2.2=pyhd3eb1b0_0
  - defaults/osx-64::h5py==3.6.0=py39h4a1dd59_0
  - defaults/osx-64::anyio==3.5.0=py39hecd8cb5_0
  - defaults/noarch::ipywidgets==7.6.5=pyhd3eb1b0_1
  - defaults/osx-64::nbformat==5.3.0=py39hecd8cb5_0
  - defaults/noarch::soupsieve==2.3.1=pyhd3eb1b0_0
  - defaults/osx-64::gmpy2==2.1.2=py39hd5de756_0
  - defaults/osx-64::markdown==3.3.4=py39hecd8cb5_0
  - defaults/osx-64::pyrsistent==0.18.0=py39hca72f7f_0
  - defaults/noarch::intervaltree==3.1.0=pyhd3eb1b0_0
  - defaults/noarch::backports==1.1=pyhd3eb1b0_0
  - defaults/noarch::colorcet==2.0.6=pyhd3eb1b0_0
  - defaults/noarch::python-lsp-server==1.2.4=pyhd3eb1b0_0
  - defaults/noarch::applaunchservices==0.2.1=pyhd3eb1b0_0
  - defaults/osx-64::mkl_fft==1.3.1=py39h4ab4a9b_0
  - defaults/noarch::python-libarchive-c==2.9=pyhd3eb1b0_1
  - defaults/osx-64::tornado==6.1=py39h9ed2024_0
  - defaults/osx-64::pycurl==7.44.1=py39hbcfaee0_1
  - defaults/noarch::toolz==0.11.2=pyhd3eb1b0_0
  - defaults/osx-64::nest-asyncio==1.5.5=py39hecd8cb5_0
  - defaults/osx-64::pycosat==0.6.3=py39h9ed2024_0
  - defaults/noarch::conda-token==0.3.0=pyhd3eb1b0_0
  - defaults/osx-64::chardet==4.0.0=py39hecd8cb5_1003
  - defaults/osx-64::cryptography==3.4.8=py39h2fd3fbb_0
  - defaults/noarch::seaborn==0.11.2=pyhd3eb1b0_0
  - defaults/osx-64::entrypoints==0.4=py39hecd8cb5_0
  - defaults/osx-64::cytoolz==0.11.0=py39h9ed2024_0
  - defaults/noarch::prometheus_client==0.13.1=pyhd3eb1b0_0
  - defaults/noarch::pyparsing==3.0.4=pyhd3eb1b0_0
  - defaults/osx-64::appnope==0.1.2=py39hecd8cb5_1001
  - defaults/noarch::sortedcollections==2.1.0=pyhd3eb1b0_0
  - defaults/osx-64::et_xmlfile==1.1.0=py39hecd8cb5_0
  - defaults/noarch::automat==20.2.0=py_0
  - defaults/noarch::colorama==0.4.4=pyhd3eb1b0_0
  - defaults/osx-64::zope==1.0=py39hecd8cb5_1
  - defaults/osx-64::lxml==4.8.0=py39h65b224f_0
  - defaults/osx-64::python-snappy==0.6.0=py39h23ab428_3
  - defaults/noarch::zipp==3.7.0=pyhd3eb1b0_0
  - defaults/osx-64::scikit-learn-intelex==2021.5.0=py39hecd8cb5_0
  - defaults/osx-64::mccabe==0.6.1=py39hecd8cb5_1
  - defaults/noarch::joblib==1.1.0=pyhd3eb1b0_0
  - defaults/noarch::olefile==0.46=pyhd3eb1b0_0
  - defaults/noarch::jupyterlab==3.3.2=pyhd3eb1b0_0
  - defaults/noarch::service_identity==18.1.0=pyhd3eb1b0_1
  - defaults/noarch::pickleshare==0.7.5=pyhd3eb1b0_1003
  - defaults/noarch::werkzeug==2.0.3=pyhd3eb1b0_0
  - defaults/osx-64::future==0.18.2=py39hecd8cb5_1
  - defaults/osx-64::twisted==22.2.0=py39hca72f7f_0
  - defaults/noarch::sphinxcontrib-devhelp==1.0.2=pyhd3eb1b0_0
  - defaults/noarch::stack_data==0.2.0=pyhd3eb1b0_0
  - defaults/osx-64::docutils==0.17.1=py39hecd8cb5_1
  - defaults/noarch::packaging==21.3=pyhd3eb1b0_0
  - defaults/osx-64::navigator-updater==0.2.1=py39_1
  - defaults/noarch::pygments==2.11.2=pyhd3eb1b0_0
  - defaults/osx-64::ruamel_yaml==0.15.100=py39h9ed2024_0
  - defaults/osx-64::pluggy==1.0.0=py39hecd8cb5_1
  - defaults/noarch::fsspec==2022.2.0=pyhd3eb1b0_0
  - defaults/osx-64::widgetsnbextension==3.5.2=py39hecd8cb5_0
  - defaults/osx-64::terminado==0.13.1=py39hecd8cb5_0
  - defaults/noarch::wheel==0.37.1=pyhd3eb1b0_0
  - defaults/osx-64::clyent==1.2.2=py39hecd8cb5_1
  - defaults/noarch::backports.weakref==1.0.post1=py_1
  - defaults/noarch::imagesize==1.3.0=pyhd3eb1b0_0
  - defaults/osx-64::sniffio==1.2.0=py39hecd8cb5_1
  - defaults/noarch::pandocfilters==1.5.0=pyhd3eb1b0_0
  - defaults/noarch::tldextract==3.2.0=pyhd3eb1b0_0
  - defaults/osx-64::sip==4.19.13=py39h23ab428_0
  - defaults/osx-64::pep8==1.7.1=py39hecd8cb5_0
  - defaults/noarch::zict==2.0.0=pyhd3eb1b0_0
  - defaults/noarch::xarray==0.20.1=pyhd3eb1b0_1
  - defaults/noarch::distributed==2022.2.1=pyhd3eb1b0_0
  - defaults/osx-64::watchdog==2.1.6=py39h999c104_0

failed with initial frozen solve. Retrying with flexible solve.
Solving environment: \

In [1]:
pip install descartes

Requirement already satisfied: descartes in /opt/anaconda3/lib/python3.9/site-packages (1.1.0)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.9/site-packages (from descartes) (3.5.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->descartes) (4.25.0)
Requirement already satisfied: numpy>=1.17 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->descartes) (1.21.5)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->descartes) (9.0.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->descartes) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->descartes) (21.3)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->descartes) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->descartes) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->descartes) (3.0.4)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib->descartes) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
confirmed_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
recovered_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"
death_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

In [5]:
df_confirmed= pd.read_csv(confirmed_cases_url)

In [6]:
df_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/28/22,9/29/22,9/30/22,10/1/22,10/2/22,10/3/22,10/4/22,10/5/22,10/6/22,10/7/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,198876,199067,199188,199310,199386,199545,199690,199845,199994,200130
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,332129,332173,332221,332263,332285,332290,332337,332372,332410,332443
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,270662,270668,270673,270676,270679,270682,270690,270693,270697,270701
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,46227,46227,46227,46227,46227,46227,46227,46227,46275,46275
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,103131,103131,103131,103131,103131,103131,103131,103131,103131,103131

In [7]:
df_recovered= pd.read_csv(recovered_cases_url)

In [8]:
df_recovered

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/28/22,9/29/22,9/30/22,10/1/22,10/2/22,10/3/22,10/4/22,10/5/22,10/6/22,10/7/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
271,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
272,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
273,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df_death_cases= pd.read_csv(death_cases_url)

In [10]:
df_death_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/28/22,9/29/22,9/30/22,10/1/22,10/2/22,10/3/22,10/4/22,10/5/22,10/6/22,10/7/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7799,7799,7800,7800,7801,7803,7803,7804,7804,7804
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3589,3589,3589,3589,3589,3589,3589,3589,3589,3589
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6879,6879,6879,6879,6879,6879,6879,6879,6881,6881
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,155,155,155,155,155,155,155,155,155,155
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1917,1917,1917,1917,1917,1917,1917,1917,1917,1917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5707,5707,5707,5707,5707,5707,5707,5707,5707,5707
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2157,2157,2157,2157,2157,2157,2157,2158,2158,2158
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4017,4017,4017,4017,4017,4017,4017,4017,4017,4017
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5602,5602,5602,5602,5602,5603,5603,5603,5604,5604

In [11]:
df_confirmed.shape

(289, 994)

In [12]:
df_confirmed.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '9/28/22', '9/29/22', '9/30/22', '10/1/22', '10/2/22', '10/3/22',
       '10/4/22', '10/5/22', '10/6/22', '10/7/22'],
      dtype='object', length=994)

In [14]:
df_confirmed.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'])

,Province/State,Country/Region,Lat,Long,variable,value
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
286105,NaN,West Bank and Gaza,31.952200,35.233200,10/7/22,702804
286106,NaN,Winter Olympics 2022,39.904200,116.407400,10/7/22,535
286107,NaN,Yemen,15.552727,48.516388,10/7/22,11939
286108,NaN,Zambia,-13.133897,27.849332,10/7/22,333555
286109,NaN,Zimbabwe,-19.015438,29.154857,10/7/22,257655

In [15]:
confirmed_df = df_confirmed.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'])

confirmed_df

In [18]:
confirmed_df.rename(columns= {'variable': 'Date','value': 'confirmed'}, inplace= True)

In [19]:
confirmed_df.shape

(286110, 6)

In [20]:
confirmed_df.tail()

,Province/State,Country/Region,Lat,Long,Date,confirmed
286105,NaN,West Bank and Gaza,31.952200,35.233200,10/7/22,702804
286106,NaN,Winter Olympics 2022,39.904200,116.407400,10/7/22,535
286107,NaN,Yemen,15.552727,48.516388,10/7/22,11939
286108,NaN,Zambia,-13.133897,27.849332,10/7/22,333555
286109,NaN,Zimbabwe,-19.015438,29.154857,10/7/22,257655

In [21]:
#Function to fetch and reshape

In [23]:
def get_n_melt_n_data(data_url, case_type):
    df= pd.read_csv(data_url)
    melted_df= df.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'])
    melted_df.rename(columns= {'variable': 'Date','value': case_type}, inplace= True)
    return  melted_df

In [24]:
# Fetch death or recovered

In [26]:
recovered_df=  get_n_melt_n_data(recovered_cases_url, 'Recovered')
death_df= get_n_melt_n_data( death_cases_url, 'Deaths' )

In [27]:
# Head

In [28]:
recovered_df

,Province/State,Country/Region,Lat,Long,Date,Recovered
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
271255,NaN,West Bank and Gaza,31.952200,35.233200,10/7/22,0
271256,NaN,Winter Olympics 2022,39.904200,116.407400,10/7/22,0
271257,NaN,Yemen,15.552727,48.516388,10/7/22,0
271258,NaN,Zambia,-13.133897,27.849332,10/7/22,0
271259,NaN,Zimbabwe,-19.015438,29.154857,10/7/22,0

In [29]:
recovered_df.shape

(271260, 6)

## Merging the Dataframes

In [32]:
#joining two dataframes
new_df = confirmed_df.join(recovered_df['Recovered'])

In [31]:
new_df

,Province/State,Country/Region,Lat,Long,Date,confirmed,Recovered
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0,0.0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0.0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0.0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0.0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0.0
...,...,...,...,...,...,...,...
286105,NaN,West Bank and Gaza,31.952200,35.233200,10/7/22,702804,NaN
286106,NaN,Winter Olympics 2022,39.904200,116.407400,10/7/22,535,NaN
286107,NaN,Yemen,15.552727,48.516388,10/7/22,11939,NaN
286108,NaN,Zambia,-13.133897,27.849332,10/7/22,333555,NaN
286109,NaN,Zimbabwe,-19.015438,29.154857,10/7/22,257655,NaN

In [34]:
#joining the 3 of them 
final_df = confirmed_df.join(recovered_df['Recovered']).join(death_df['Deaths'])
final_df

,Province/State,Country/Region,Lat,Long,Date,confirmed,Recovered,Deaths
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0,0.0,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0.0,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0.0,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0.0,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0.0,0
...,...,...,...,...,...,...,...,...
286105,NaN,West Bank and Gaza,31.952200,35.233200,10/7/22,702804,NaN,5707
286106,NaN,Winter Olympics 2022,39.904200,116.407400,10/7/22,535,NaN,0
286107,NaN,Yemen,15.552727,48.516388,10/7/22,11939,NaN,2158
286108,NaN,Zambia,-13.133897,27.849332,10/7/22,333555,NaN,4017
286109,NaN,Zimbabwe,-19.015438,29.154857,10/7/22,257655,NaN,5604

In [35]:
final_df.tail()

,Province/State,Country/Region,Lat,Long,Date,confirmed,Recovered,Deaths
286105,NaN,West Bank and Gaza,31.952200,35.233200,10/7/22,702804,NaN,5707
286106,NaN,Winter Olympics 2022,39.904200,116.407400,10/7/22,535,NaN,0
286107,NaN,Yemen,15.552727,48.516388,10/7/22,11939,NaN,2158
286108,NaN,Zambia,-13.133897,27.849332,10/7/22,333555,NaN,4017
286109,NaN,Zimbabwe,-19.015438,29.154857,10/7/22,257655,NaN,5604

In [38]:
final_df["Country/Region"].value_counts()

China             33660
Canada            15840
United Kingdom    14850
France            11880
Australia          7920
                  ...
Guinea              990
Guinea-Bissau       990
Guyana              990
Haiti               990
Zimbabwe            990
Name: Country/Region, Length: 201, dtype: int64

In [39]:
final_df.to_csv('Covid_updated_dataset')